# Pandas
pandas is python package providing fast,flexible and expressive data structures designated to make working with "relational" and "labeled"data both easy and intuitive. It aims to be the fundamental high-level building block for doing practical,real world data analysis in Python

pandas is well suited for many different kinds of data:

    tabular data with heterogeneoulsly-typed columns,as in an SQL table or Excel spreadsheet
    ordered and unordered time series data
    arbitraty matrix data(homogeneously typed or heterogeneous)with row and column labels

In [109]:
import pandas as pd
import numpy as np
iris=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")
print(iris)

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
5    4.6  3.4  1.4  0.3     Iris-setosa
6    5.0  3.4  1.5  0.2     Iris-setosa
7    4.4  2.9  1.4  0.2     Iris-setosa
8    4.9  3.1  1.5  0.1     Iris-setosa
9    5.4  3.7  1.5  0.2     Iris-setosa
10   4.8  3.4  1.6  0.2     Iris-setosa
11   4.8  3.0  1.4  0.1     Iris-setosa
12   4.3  3.0  1.1  0.1     Iris-setosa
13   5.8  4.0  1.2  0.2     Iris-setosa
14   5.7  4.4  1.5  0.4     Iris-setosa
15   5.4  3.9  1.3  0.4     Iris-setosa
16   5.1  3.5  1.4  0.3     Iris-setosa
17   5.7  3.8  1.7  0.3     Iris-setosa
18   5.1  3.8  1.5  0.3     Iris-setosa
19   5.4  3.4  1.7  0.2     Iris-setosa
20   5.1  3.7  1.5  0.4     Iris-setosa
21   4.6  3.6  1.0  0.2     Iris-setosa
22   5.1  3.3  1.7  0.5     Iris-setosa
23   4.8  3.4  1.9  0.2     Iris-setosa
24   5.0  3.0  1.6  0.2     Iris-setosa
25   5.0  3.4  1.6  0.4     Iris-setosa
26   5.2  3.5  1.5  0.2     Iris-setosa
27   5.2  3.4  1.4  0.2     Iris-setosa
28   4.7  3.2  1.6  0.2     Iris-setosa
29   4.8  3.1  1.6  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
119  6.9  3.2  5.7  2.3  Iris-virginica
120  5.6  2.8  4.9  2.0  Iris-virginica
121  7.7  2.8  6.7  2.0  Iris-virginica
122  6.3  2.7  4.9  1.8  Iris-virginica
123  6.7  3.3  5.7  2.1  Iris-virginica
124  7.2  3.2  6.0  1.8  Iris-virginica
125  6.2  2.8  4.8  1.8  Iris-virginica
126  6.1  3.0  4.9  1.8  Iris-virginica
127  6.4  2.8  5.6  2.1  Iris-virginica
128  7.2  3.0  5.8  1.6  Iris-virginica
129  7.4  2.8  6.1  1.9  Iris-virginica
130  7.9  3.8  6.4  2.0  Iris-virginica
131  6.4  2.8  5.6  2.2  Iris-virginica
132  6.3  2.8  5.1  1.5  Iris-virginica
133  6.1  2.6  5.6  1.4  Iris-virginica
134  7.7  3.0  6.1  2.3  Iris-virginica
135  6.3  3.4  5.6  2.4  Iris-virginica
136  6.4  3.1  5.5  1.8  Iris-virginica
137  6.0  3.0  4.8  1.8  Iris-virginica
138  6.9  3.1  5.4  2.1  Iris-virginica
139  6.7  3.1  5.6  2.4  Iris-virginica
140  6.9  3.1  5.1  2.3  Iris-virginica
141  5.8  2.7  5.1  1.9  Iris-virginica
142  6.8  3.2  5.9  2.3  Iris-virginica
143  6.7  3.3  5.7  2.5  Iris-virginica
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

## 1. Accessing data in pandas

In [29]:
df=iris.copy()
df.columns = ['sl','sw','pl','pw','flower_type']

In [30]:
df.head()# be default choose 5

    sl   sw   pl   pw  flower_type
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [31]:
df.head(3)

    sl   sw   pl   pw  flower_type
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa

In [32]:
print(df.shape)
print(df.dtypes)

(149, 5)
sl             float64
sw             float64
pl             float64
pw             float64
flower_type     object
dtype: object

In [33]:
df.describe()

               sl          sw          pl          pw
count  149.000000  149.000000  149.000000  149.000000
mean     5.848322    3.051007    3.774497    1.205369
std      0.828594    0.433499    1.759651    0.761292
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.400000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [34]:
df.sl
#df[sl]

0      4.9
1      4.7
2      4.6
3      5.0
4      5.4
5      4.6
6      5.0
7      4.4
8      4.9
9      5.4
10     4.8
11     4.8
12     4.3
13     5.8
14     5.7
15     5.4
16     5.1
17     5.7
18     5.1
19     5.4
20     5.1
21     4.6
22     5.1
23     4.8
24     5.0
25     5.0
26     5.2
27     5.2
28     4.7
29     4.8
      ...
119    6.9
120    5.6
121    7.7
122    6.3
123    6.7
124    7.2
125    6.2
126    6.1
127    6.4
128    7.2
129    7.4
130    7.9
131    6.4
132    6.3
133    6.1
134    7.7
135    6.3
136    6.4
137    6.0
138    6.9
139    6.7
140    6.9
141    5.8
142    6.8
143    6.7
144    6.7
145    6.3
146    6.5
147    6.2
148    5.9
Name: sl, Length: 149, dtype: float64

In [35]:
df.isnull()

        sl     sw     pl     pw  flower_type
0    False  False  False  False        False
1    False  False  False  False        False
2    False  False  False  False        False
3    False  False  False  False        False
4    False  False  False  False        False
5    False  False  False  False        False
6    False  False  False  False        False
7    False  False  False  False        False
8    False  False  False  False        False
9    False  False  False  False        False
10   False  False  False  False        False
11   False  False  False  False        False
12   False  False  False  False        False
13   False  False  False  False        False
14   False  False  False  False        False
15   False  False  False  False        False
16   False  False  False  False        False
17   False  False  False  False        False
18   False  False  False  False        False
19   False  False  False  False        False
20   False  False  False  False        False
21   False  False  False  False        False
22   False  False  False  False        False
23   False  False  False  False        False
24   False  False  False  False        False
25   False  False  False  False        False
26   False  False  False  False        False
27   False  False  False  False        False
28   False  False  False  False        False
29   False  False  False  False        False
..     ...    ...    ...    ...          ...
119  False  False  False  False        False
120  False  False  False  False        False
121  False  False  False  False        False
122  False  False  False  False        False
123  False  False  False  False        False
124  False  False  False  False        False
125  False  False  False  False        False
126  False  False  False  False        False
127  False  False  False  False        False
128  False  False  False  False        False
129  False  False  False  False        False
130  False  False  False  False        False
131  False  False  False  False        False
132  False  False  False  False        False
133  False  False  False  False        False
134  False  False  False  False        False
135  False  False  False  False        False
136  False  False  False  False        False
137  False  False  False  False        False
138  False  False  False  False        False
139  False  False  False  False        False
140  False  False  False  False        False
141  False  False  False  False        False
142  False  False  False  False        False
143  False  False  False  False        False
144  False  False  False  False        False
145  False  False  False  False        False
146  False  False  False  False        False
147  False  False  False  False        False
148  False  False  False  False        False

[149 rows x 5 columns]

In [36]:
df.isnull().sum()

sl             0
sw             0
pl             0
pw             0
flower_type    0
dtype: int64

In [37]:
df.iloc[1:4,2:3]#--->[1:4,2:3]-->[row:column]

    pl
1  1.3
2  1.5
3  1.4

## 2. Manipulating data in data frame

### 2.1 drop row

#### 2.1.1 by label

In [38]:
a=df.drop(0)#-->drop the row with label zero
a.head()

    sl   sw   pl   pw  flower_type
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa
5  4.6  3.4  1.4  0.3  Iris-setosa

In [40]:
#if wanna change the original dataset:
df.drop(0, inplace = True)
df.head()

    sl   sw   pl   pw  flower_type
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa
5  4.6  3.4  1.4  0.3  Iris-setosa

#### 2.1.2 by index

In [41]:
df.index

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            139, 140, 141, 142, 143, 144, 145, 146, 147, 148],
           dtype='int64', length=148)

In [42]:
df.index[0],df.index[5]

(1, 6)

In [43]:
df.drop(df.index[0],inplace=True)#-->remove the first row
df.head()

    sl   sw   pl   pw  flower_type
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa
5  4.6  3.4  1.4  0.3  Iris-setosa
6  5.0  3.4  1.5  0.2  Iris-setosa

In [44]:
df.drop(df.index[[0,1]],inplace=True)#-->remove the first and second rows
df.head()

    sl   sw   pl   pw  flower_type
4  5.4  3.9  1.7  0.4  Iris-setosa
5  4.6  3.4  1.4  0.3  Iris-setosa
6  5.0  3.4  1.5  0.2  Iris-setosa
7  4.4  2.9  1.4  0.2  Iris-setosa
8  4.9  3.1  1.5  0.1  Iris-setosa

#### 2.1.3 by condition

In [46]:
df[df.sl>3]

      sl   sw   pl   pw     flower_type
4    5.4  3.9  1.7  0.4     Iris-setosa
5    4.6  3.4  1.4  0.3     Iris-setosa
6    5.0  3.4  1.5  0.2     Iris-setosa
7    4.4  2.9  1.4  0.2     Iris-setosa
8    4.9  3.1  1.5  0.1     Iris-setosa
9    5.4  3.7  1.5  0.2     Iris-setosa
10   4.8  3.4  1.6  0.2     Iris-setosa
11   4.8  3.0  1.4  0.1     Iris-setosa
12   4.3  3.0  1.1  0.1     Iris-setosa
13   5.8  4.0  1.2  0.2     Iris-setosa
14   5.7  4.4  1.5  0.4     Iris-setosa
15   5.4  3.9  1.3  0.4     Iris-setosa
16   5.1  3.5  1.4  0.3     Iris-setosa
17   5.7  3.8  1.7  0.3     Iris-setosa
18   5.1  3.8  1.5  0.3     Iris-setosa
19   5.4  3.4  1.7  0.2     Iris-setosa
20   5.1  3.7  1.5  0.4     Iris-setosa
21   4.6  3.6  1.0  0.2     Iris-setosa
22   5.1  3.3  1.7  0.5     Iris-setosa
23   4.8  3.4  1.9  0.2     Iris-setosa
24   5.0  3.0  1.6  0.2     Iris-setosa
25   5.0  3.4  1.6  0.4     Iris-setosa
26   5.2  3.5  1.5  0.2     Iris-setosa
27   5.2  3.4  1.4  0.2     Iris-setosa
28   4.7  3.2  1.6  0.2     Iris-setosa
29   4.8  3.1  1.6  0.2     Iris-setosa
30   5.4  3.4  1.5  0.4     Iris-setosa
31   5.2  4.1  1.5  0.1     Iris-setosa
32   5.5  4.2  1.4  0.2     Iris-setosa
33   4.9  3.1  1.5  0.1     Iris-setosa
..   ...  ...  ...  ...             ...
119  6.9  3.2  5.7  2.3  Iris-virginica
120  5.6  2.8  4.9  2.0  Iris-virginica
121  7.7  2.8  6.7  2.0  Iris-virginica
122  6.3  2.7  4.9  1.8  Iris-virginica
123  6.7  3.3  5.7  2.1  Iris-virginica
124  7.2  3.2  6.0  1.8  Iris-virginica
125  6.2  2.8  4.8  1.8  Iris-virginica
126  6.1  3.0  4.9  1.8  Iris-virginica
127  6.4  2.8  5.6  2.1  Iris-virginica
128  7.2  3.0  5.8  1.6  Iris-virginica
129  7.4  2.8  6.1  1.9  Iris-virginica
130  7.9  3.8  6.4  2.0  Iris-virginica
131  6.4  2.8  5.6  2.2  Iris-virginica
132  6.3  2.8  5.1  1.5  Iris-virginica
133  6.1  2.6  5.6  1.4  Iris-virginica
134  7.7  3.0  6.1  2.3  Iris-virginica
135  6.3  3.4  5.6  2.4  Iris-virginica
136  6.4  3.1  5.5  1.8  Iris-virginica
137  6.0  3.0  4.8  1.8  Iris-virginica
138  6.9  3.1  5.4  2.1  Iris-virginica
139  6.7  3.1  5.6  2.4  Iris-virginica
140  6.9  3.1  5.1  2.3  Iris-virginica
141  5.8  2.7  5.1  1.9  Iris-virginica
142  6.8  3.2  5.9  2.3  Iris-virginica
143  6.7  3.3  5.7  2.5  Iris-virginica
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[145 rows x 5 columns]

In [47]:
df[df.flower_type=='Iris-setosa']

     sl   sw   pl   pw  flower_type
4   5.4  3.9  1.7  0.4  Iris-setosa
5   4.6  3.4  1.4  0.3  Iris-setosa
6   5.0  3.4  1.5  0.2  Iris-setosa
7   4.4  2.9  1.4  0.2  Iris-setosa
8   4.9  3.1  1.5  0.1  Iris-setosa
9   5.4  3.7  1.5  0.2  Iris-setosa
10  4.8  3.4  1.6  0.2  Iris-setosa
11  4.8  3.0  1.4  0.1  Iris-setosa
12  4.3  3.0  1.1  0.1  Iris-setosa
13  5.8  4.0  1.2  0.2  Iris-setosa
14  5.7  4.4  1.5  0.4  Iris-setosa
15  5.4  3.9  1.3  0.4  Iris-setosa
16  5.1  3.5  1.4  0.3  Iris-setosa
17  5.7  3.8  1.7  0.3  Iris-setosa
18  5.1  3.8  1.5  0.3  Iris-setosa
19  5.4  3.4  1.7  0.2  Iris-setosa
20  5.1  3.7  1.5  0.4  Iris-setosa
21  4.6  3.6  1.0  0.2  Iris-setosa
22  5.1  3.3  1.7  0.5  Iris-setosa
23  4.8  3.4  1.9  0.2  Iris-setosa
24  5.0  3.0  1.6  0.2  Iris-setosa
25  5.0  3.4  1.6  0.4  Iris-setosa
26  5.2  3.5  1.5  0.2  Iris-setosa
27  5.2  3.4  1.4  0.2  Iris-setosa
28  4.7  3.2  1.6  0.2  Iris-setosa
29  4.8  3.1  1.6  0.2  Iris-setosa
30  5.4  3.4  1.5  0.4  Iris-setosa
31  5.2  4.1  1.5  0.1  Iris-setosa
32  5.5  4.2  1.4  0.2  Iris-setosa
33  4.9  3.1  1.5  0.1  Iris-setosa
34  5.0  3.2  1.2  0.2  Iris-setosa
35  5.5  3.5  1.3  0.2  Iris-setosa
36  4.9  3.1  1.5  0.1  Iris-setosa
37  4.4  3.0  1.3  0.2  Iris-setosa
38  5.1  3.4  1.5  0.2  Iris-setosa
39  5.0  3.5  1.3  0.3  Iris-setosa
40  4.5  2.3  1.3  0.3  Iris-setosa
41  4.4  3.2  1.3  0.2  Iris-setosa
42  5.0  3.5  1.6  0.6  Iris-setosa
43  5.1  3.8  1.9  0.4  Iris-setosa
44  4.8  3.0  1.4  0.3  Iris-setosa
45  5.1  3.8  1.6  0.2  Iris-setosa
46  4.6  3.2  1.4  0.2  Iris-setosa
47  5.3  3.7  1.5  0.2  Iris-setosa
48  5.0  3.3  1.4  0.2  Iris-setosa

In [50]:
c1=df[df.flower_type=='Iris-setosa'].describe()
c1

              sl         sw         pl         pw
count  45.000000  45.000000  45.000000  45.000000
mean    5.022222   3.433333   1.471111   0.248889
std     0.362998   0.391384   0.180432   0.112052
min     4.300000   2.300000   1.000000   0.100000
25%     4.800000   3.200000   1.400000   0.200000
50%     5.000000   3.400000   1.500000   0.200000
75%     5.200000   3.700000   1.600000   0.300000
max     5.800000   4.400000   1.900000   0.600000

### 2.2 add row

In [54]:
print(df.head())
df.iloc[0]#-->index(position) basis

    sl   sw   pl   pw  flower_type
4  5.4  3.9  1.7  0.4  Iris-setosa
5  4.6  3.4  1.4  0.3  Iris-setosa
6  5.0  3.4  1.5  0.2  Iris-setosa
7  4.4  2.9  1.4  0.2  Iris-setosa
8  4.9  3.1  1.5  0.1  Iris-setosa

sl                     5.4
sw                     3.9
pl                     1.7
pw                     0.4
flower_type    Iris-setosa
Name: 4, dtype: object

In [55]:
df.loc[4]#-->label basis

sl                     5.4
sw                     3.9
pl                     1.7
pw                     0.4
flower_type    Iris-setosa
Name: 4, dtype: object

#### 2.2.1 add by loc(label)

In [56]:
df.loc[0]=[1,2,3,4,"Iris setosa"]#-->add a row to the end

In [57]:
df.head()

    sl   sw   pl   pw  flower_type
4  5.4  3.9  1.7  0.4  Iris-setosa
5  4.6  3.4  1.4  0.3  Iris-setosa
6  5.0  3.4  1.5  0.2  Iris-setosa
7  4.4  2.9  1.4  0.2  Iris-setosa
8  4.9  3.1  1.5  0.1  Iris-setosa

In [58]:
df.tail()

      sl   sw   pl   pw     flower_type
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica
0    1.0  2.0  3.0  4.0     Iris setosa

#### 2.2.2 add by iloc(index)

In [59]:
df.iloc[0]=[2,2,3,4,"Iris setosa"]#--->add to exact index

In [60]:
df.head()

    sl   sw   pl   pw  flower_type
4  2.0  2.0  3.0  4.0  Iris setosa
5  4.6  3.4  1.4  0.3  Iris-setosa
6  5.0  3.4  1.5  0.2  Iris-setosa
7  4.4  2.9  1.4  0.2  Iris-setosa
8  4.9  3.1  1.5  0.1  Iris-setosa

**Exercise 1:Count of Flower**

Problem Statement
    
    Find and print count of each kind of flower (separated by space)?
    Note: Get the dataset from ''https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data''.
    Feature Name are SepalLength,SepalWidth PetalLength, PetalWidth and Species
    Print the count as Integer Value.

Output Format
    
    count1 count2 count3 .....

In [128]:
import pandas as pd
column_name=['SepalLength','SepalWidth', 'PetalLength', 'PetalWidth','Species']
iris=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data",names=column_name)
for i in iris['Species'].value_counts():
    print(i,end=' ')

50 50 50

**Exercise 2:Iris Virginica**

Problem Statement

    Find the data of flower “Iris-virginica” type where petal-length > 1.5?
    Note: Get the dataset from ''https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data''.
    Feature Name are SepalLength,SepalWidth PetalLength, PetalWidth and Species
    Print the all the feature values.

Output Format

    feature1 feature2 feature3 feature4 feature5
    feature1 feature2 feature3 feature4 feature5
    feature1 feature2 feature3 feature4 feature5
    feature1 feature2 feature3 feature4 feature5
    . . .

In [131]:
import pandas as pd
column_name=['SepalLength','SepalWidth', 'PetalLength', 'PetalWidth','Species']
iris=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data",names=column_name)
iris=iris[iris['Species']=='Iris-virginica']
iris=iris[iris['PetalLength']>1.5]
X=iris.values
for i in range(iris.shape[0]):
    for j in range(iris.shape[1]):
        print(X[i][j],end=" ")
    print()

6.3 3.3 6.0 2.5 Iris-virginica
5.8 2.7 5.1 1.9 Iris-virginica
7.1 3.0 5.9 2.1 Iris-virginica
6.3 2.9 5.6 1.8 Iris-virginica
6.5 3.0 5.8 2.2 Iris-virginica
7.6 3.0 6.6 2.1 Iris-virginica
4.9 2.5 4.5 1.7 Iris-virginica
7.3 2.9 6.3 1.8 Iris-virginica
6.7 2.5 5.8 1.8 Iris-virginica
7.2 3.6 6.1 2.5 Iris-virginica
6.5 3.2 5.1 2.0 Iris-virginica
6.4 2.7 5.3 1.9 Iris-virginica
6.8 3.0 5.5 2.1 Iris-virginica
5.7 2.5 5.0 2.0 Iris-virginica
5.8 2.8 5.1 2.4 Iris-virginica
6.4 3.2 5.3 2.3 Iris-virginica
6.5 3.0 5.5 1.8 Iris-virginica
7.7 3.8 6.7 2.2 Iris-virginica
7.7 2.6 6.9 2.3 Iris-virginica
6.0 2.2 5.0 1.5 Iris-virginica
6.9 3.2 5.7 2.3 Iris-virginica
5.6 2.8 4.9 2.0 Iris-virginica
7.7 2.8 6.7 2.0 Iris-virginica
6.3 2.7 4.9 1.8 Iris-virginica
6.7 3.3 5.7 2.1 Iris-virginica
7.2 3.2 6.0 1.8 Iris-virginica
6.2 2.8 4.8 1.8 Iris-virginica
6.1 3.0 4.9 1.8 Iris-virginica
6.4 2.8 5.6 2.1 Iris-virginica
7.2 3.0 5.8 1.6 Iris-virginica
7.4 2.8 6.1 1.9 Iris-virginica
7.9 3.8 6.4 2.0 Iris-virginica
6.4 2.8 5.6 2.2 Iris-virginica
6.3 2.8 5.1 1.5 Iris-virginica
6.1 2.6 5.6 1.4 Iris-virginica
7.7 3.0 6.1 2.3 Iris-virginica
6.3 3.4 5.6 2.4 Iris-virginica
6.4 3.1 5.5 1.8 Iris-virginica
6.0 3.0 4.8 1.8 Iris-virginica
6.9 3.1 5.4 2.1 Iris-virginica
6.7 3.1 5.6 2.4 Iris-virginica
6.9 3.1 5.1 2.3 Iris-virginica
5.8 2.7 5.1 1.9 Iris-virginica
6.8 3.2 5.9 2.3 Iris-virginica
6.7 3.3 5.7 2.5 Iris-virginica
6.7 3.0 5.2 2.3 Iris-virginica
6.3 2.5 5.0 1.9 Iris-virginica
6.5 3.0 5.2 2.0 Iris-virginica
6.2 3.4 5.4 2.3 Iris-virginica
5.9 3.0 5.1 1.8 Iris-virginica

In [96]:
df.reset_index(drop=True)#-->reset index

     SepalLength  SepalWidth  PetalLength  PetalWidth         Species
0            4.9         3.0          1.4         0.2     Iris-setosa
1            4.7         3.2          1.3         0.2     Iris-setosa
2            4.6         3.1          1.5         0.2     Iris-setosa
3            5.0         3.6          1.4         0.2     Iris-setosa
4            5.4         3.9          1.7         0.4     Iris-setosa
5            4.6         3.4          1.4         0.3     Iris-setosa
6            5.0         3.4          1.5         0.2     Iris-setosa
7            4.4         2.9          1.4         0.2     Iris-setosa
8            4.9         3.1          1.5         0.1     Iris-setosa
9            5.4         3.7          1.5         0.2     Iris-setosa
10           4.8         3.4          1.6         0.2     Iris-setosa
11           4.8         3.0          1.4         0.1     Iris-setosa
12           4.3         3.0          1.1         0.1     Iris-setosa
13           5.8         4.0          1.2         0.2     Iris-setosa
14           5.7         4.4          1.5         0.4     Iris-setosa
15           5.4         3.9          1.3         0.4     Iris-setosa
16           5.1         3.5          1.4         0.3     Iris-setosa
17           5.7         3.8          1.7         0.3     Iris-setosa
18           5.1         3.8          1.5         0.3     Iris-setosa
19           5.4         3.4          1.7         0.2     Iris-setosa
20           5.1         3.7          1.5         0.4     Iris-setosa
21           4.6         3.6          1.0         0.2     Iris-setosa
22           5.1         3.3          1.7         0.5     Iris-setosa
23           4.8         3.4          1.9         0.2     Iris-setosa
24           5.0         3.0          1.6         0.2     Iris-setosa
25           5.0         3.4          1.6         0.4     Iris-setosa
26           5.2         3.5          1.5         0.2     Iris-setosa
27           5.2         3.4          1.4         0.2     Iris-setosa
28           4.7         3.2          1.6         0.2     Iris-setosa
29           4.8         3.1          1.6         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
119          6.9         3.2          5.7         2.3  Iris-virginica
120          5.6         2.8          4.9         2.0  Iris-virginica
121          7.7         2.8          6.7         2.0  Iris-virginica
122          6.3         2.7          4.9         1.8  Iris-virginica
123          6.7         3.3          5.7         2.1  Iris-virginica
124          7.2         3.2          6.0         1.8  Iris-virginica
125          6.2         2.8          4.8         1.8  Iris-virginica
126          6.1         3.0          4.9         1.8  Iris-virginica
127          6.4         2.8          5.6         2.1  Iris-virginica
128          7.2         3.0          5.8         1.6  Iris-virginica
129          7.4         2.8          6.1         1.9  Iris-virginica
130          7.9         3.8          6.4         2.0  Iris-virginica
131          6.4         2.8          5.6         2.2  Iris-virginica
132          6.3         2.8          5.1         1.5  Iris-virginica
133          6.1         2.6          5.6         1.4  Iris-virginica
134          7.7         3.0          6.1         2.3  Iris-virginica
135          6.3         3.4          5.6         2.4  Iris-virginica
136          6.4         3.1          5.5         1.8  Iris-virginica
137          6.0         3.0          4.8         1.8  Iris-virginica
138          6.9         3.1          5.4         2.1  Iris-virginica
139          6.7         3.1          5.6         2.4  Iris-virginica
140          6.9         3.1          5.1         2.3  Iris-virginica
141          5.8         2.7          5.1         1.9  Iris-virginica
142          6.8         3.2          5.9         2.3  Iris-virginica
143          6.7         3.3          5.7         2.5  Iris-virginica
144          6.7         3.0          5.2         2.3  Iris-virginica
145          6.3         2.5          5.0         1.9  Iris-virginica
146          6.5         3.0          5.2         2.0  Iris-virginica
147          6.2         3.4          5.4         2.3  Iris-virginica
148          5.9         3.0          5.1         1.8  Iris-virginica

[149 rows x 5 columns]

### 2.3 remove column

#### 2.3.1 using drop

In [99]:
df.drop('SepalLength',axis=1,inplace=True)

In [100]:
df.describe()

       SepalWidth  PetalLength  PetalWidth
count  149.000000   149.000000  149.000000
mean     3.051007     3.774497    1.205369
std      0.433499     1.759651    0.761292
min      2.000000     1.000000    0.100000
25%      2.800000     1.600000    0.300000
50%      3.000000     4.400000    1.300000
75%      3.300000     5.100000    1.800000
max      4.400000     6.900000    2.500000

#### 2.3.2 using del

In [102]:
del df['SepalWidth']

In [103]:
df.describe()

       PetalLength  PetalWidth
count   149.000000  149.000000
mean      3.774497    1.205369
std       1.759651    0.761292
min       1.000000    0.100000
25%       1.600000    0.300000
50%       4.400000    1.300000
75%       5.100000    1.800000
max       6.900000    2.500000

In [104]:
df=iris.copy()
df.

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
5    4.6  3.4  1.4  0.3     Iris-setosa
6    5.0  3.4  1.5  0.2     Iris-setosa
7    4.4  2.9  1.4  0.2     Iris-setosa
8    4.9  3.1  1.5  0.1     Iris-setosa
9    5.4  3.7  1.5  0.2     Iris-setosa
10   4.8  3.4  1.6  0.2     Iris-setosa
11   4.8  3.0  1.4  0.1     Iris-setosa
12   4.3  3.0  1.1  0.1     Iris-setosa
13   5.8  4.0  1.2  0.2     Iris-setosa
14   5.7  4.4  1.5  0.4     Iris-setosa
15   5.4  3.9  1.3  0.4     Iris-setosa
16   5.1  3.5  1.4  0.3     Iris-setosa
17   5.7  3.8  1.7  0.3     Iris-setosa
18   5.1  3.8  1.5  0.3     Iris-setosa
19   5.4  3.4  1.7  0.2     Iris-setosa
20   5.1  3.7  1.5  0.4     Iris-setosa
21   4.6  3.6  1.0  0.2     Iris-setosa
22   5.1  3.3  1.7  0.5     Iris-setosa
23   4.8  3.4  1.9  0.2     Iris-setosa
24   5.0  3.0  1.6  0.2     Iris-setosa
25   5.0  3.4  1.6  0.4     Iris-setosa
26   5.2  3.5  1.5  0.2     Iris-setosa
27   5.2  3.4  1.4  0.2     Iris-setosa
28   4.7  3.2  1.6  0.2     Iris-setosa
29   4.8  3.1  1.6  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
119  6.9  3.2  5.7  2.3  Iris-virginica
120  5.6  2.8  4.9  2.0  Iris-virginica
121  7.7  2.8  6.7  2.0  Iris-virginica
122  6.3  2.7  4.9  1.8  Iris-virginica
123  6.7  3.3  5.7  2.1  Iris-virginica
124  7.2  3.2  6.0  1.8  Iris-virginica
125  6.2  2.8  4.8  1.8  Iris-virginica
126  6.1  3.0  4.9  1.8  Iris-virginica
127  6.4  2.8  5.6  2.1  Iris-virginica
128  7.2  3.0  5.8  1.6  Iris-virginica
129  7.4  2.8  6.1  1.9  Iris-virginica
130  7.9  3.8  6.4  2.0  Iris-virginica
131  6.4  2.8  5.6  2.2  Iris-virginica
132  6.3  2.8  5.1  1.5  Iris-virginica
133  6.1  2.6  5.6  1.4  Iris-virginica
134  7.7  3.0  6.1  2.3  Iris-virginica
135  6.3  3.4  5.6  2.4  Iris-virginica
136  6.4  3.1  5.5  1.8  Iris-virginica
137  6.0  3.0  4.8  1.8  Iris-virginica
138  6.9  3.1  5.4  2.1  Iris-virginica
139  6.7  3.1  5.6  2.4  Iris-virginica
140  6.9  3.1  5.1  2.3  Iris-virginica
141  5.8  2.7  5.1  1.9  Iris-virginica
142  6.8  3.2  5.9  2.3  Iris-virginica
143  6.7  3.3  5.7  2.5  Iris-virginica
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [107]:
df=iris.copy()
df.columns = ['sl','sw','pl','pw','flower_type']
df.head()

    sl   sw   pl   pw  flower_type
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

### 2.4 add column

In [108]:
df['diff_pl_pw']=df['pl']-df['pw']
df.head()

    sl   sw   pl   pw  flower_type  diff_pl_pw
0  4.9  3.0  1.4  0.2  Iris-setosa         1.2
1  4.7  3.2  1.3  0.2  Iris-setosa         1.1
2  4.6  3.1  1.5  0.2  Iris-setosa         1.3
3  5.0  3.6  1.4  0.2  Iris-setosa         1.2
4  5.4  3.9  1.7  0.4  Iris-setosa         1.3

**Exercise 3:Iris Virginica**

Problem Statement

    Find and print the minimum, maximum and average value of the feature for each kind of flower ?
    Note: Get the dataset from https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data.
    Feature Name are SepalLength, SepalWidth, PetalLength, PetalWidth and Species
    Print the value with two decimal places.
    Note: Order for flower is Iris-setosa, Iris-versicolor and Iris-virginica.

Output Format

    minSL minSW minPL minPW Iris-setosa
    maxSL maxSW maxPL maxPW Iris-setosa
    avgSL avgSW avgPL avgPW Iris-setosa

In [171]:
import pandas as pd
column_name=['SepalLength','SepalWidth', 'PetalLength', 'PetalWidth','Species']
iris=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data",names=column_name)
iris=iris[iris['Species']=='Iris-virginica']
iris=iris[iris['PetalLength']>1.5]
X=iris.values
for i in range(iris.shape[0]):
    for j in range(iris.shape[1]):
        print(X[i][j],end=" ")
    print()

6.3 3.3 6.0 2.5 Iris-virginica
5.8 2.7 5.1 1.9 Iris-virginica
7.1 3.0 5.9 2.1 Iris-virginica
6.3 2.9 5.6 1.8 Iris-virginica
6.5 3.0 5.8 2.2 Iris-virginica
7.6 3.0 6.6 2.1 Iris-virginica
4.9 2.5 4.5 1.7 Iris-virginica
7.3 2.9 6.3 1.8 Iris-virginica
6.7 2.5 5.8 1.8 Iris-virginica
7.2 3.6 6.1 2.5 Iris-virginica
6.5 3.2 5.1 2.0 Iris-virginica
6.4 2.7 5.3 1.9 Iris-virginica
6.8 3.0 5.5 2.1 Iris-virginica
5.7 2.5 5.0 2.0 Iris-virginica
5.8 2.8 5.1 2.4 Iris-virginica
6.4 3.2 5.3 2.3 Iris-virginica
6.5 3.0 5.5 1.8 Iris-virginica
7.7 3.8 6.7 2.2 Iris-virginica
7.7 2.6 6.9 2.3 Iris-virginica
6.0 2.2 5.0 1.5 Iris-virginica
6.9 3.2 5.7 2.3 Iris-virginica
5.6 2.8 4.9 2.0 Iris-virginica
7.7 2.8 6.7 2.0 Iris-virginica
6.3 2.7 4.9 1.8 Iris-virginica
6.7 3.3 5.7 2.1 Iris-virginica
7.2 3.2 6.0 1.8 Iris-virginica
6.2 2.8 4.8 1.8 Iris-virginica
6.1 3.0 4.9 1.8 Iris-virginica
6.4 2.8 5.6 2.1 Iris-virginica
7.2 3.0 5.8 1.6 Iris-virginica
7.4 2.8 6.1 1.9 Iris-virginica
7.9 3.8 6.4 2.0 Iris-virginica
6.4 2.8 5.6 2.2 Iris-virginica
6.3 2.8 5.1 1.5 Iris-virginica
6.1 2.6 5.6 1.4 Iris-virginica
7.7 3.0 6.1 2.3 Iris-virginica
6.3 3.4 5.6 2.4 Iris-virginica
6.4 3.1 5.5 1.8 Iris-virginica
6.0 3.0 4.8 1.8 Iris-virginica
6.9 3.1 5.4 2.1 Iris-virginica
6.7 3.1 5.6 2.4 Iris-virginica
6.9 3.1 5.1 2.3 Iris-virginica
5.8 2.7 5.1 1.9 Iris-virginica
6.8 3.2 5.9 2.3 Iris-virginica
6.7 3.3 5.7 2.5 Iris-virginica
6.7 3.0 5.2 2.3 Iris-virginica
6.3 2.5 5.0 1.9 Iris-virginica
6.5 3.0 5.2 2.0 Iris-virginica
6.2 3.4 5.4 2.3 Iris-virginica
5.9 3.0 5.1 1.8 Iris-virginica

In [146]:
# import pandas as pd
column_name=['SepalLength','SepalWidth', 'PetalLength', 'PetalWidth','Species']
iris=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data",names=column_name)
a=iris[iris['Species']=='Iris-setosa']
a.describe()

       SepalLength  SepalWidth  PetalLength  PetalWidth
count     50.00000   50.000000    50.000000    50.00000
mean       5.00600    3.418000     1.464000     0.24400
std        0.35249    0.381024     0.173511     0.10721
min        4.30000    2.300000     1.000000     0.10000
25%        4.80000    3.125000     1.400000     0.20000
50%        5.00000    3.400000     1.500000     0.20000
75%        5.20000    3.675000     1.575000     0.30000
max        5.80000    4.400000     1.900000     0.60000

In [152]:
count=a.describe().values
#print(count)
for i in (3,7,1):
    for j in range(4):
        print(round(count[i][j],2),end=" ")
    print()

4.3 2.3 1.0 0.1
5.8 4.4 1.9 0.6
5.01 3.42 1.46 0.24

## 3. Handling NAN

### 3.1 drop na

In [110]:
df.iloc[2:4,1:3]=np.nan
df.head()

    sl   sw   pl   pw  flower_type  diff_pl_pw
0  4.9  3.0  1.4  0.2  Iris-setosa         1.2
1  4.7  3.2  1.3  0.2  Iris-setosa         1.1
2  4.6  NaN  NaN  0.2  Iris-setosa         1.3
3  5.0  NaN  NaN  0.2  Iris-setosa         1.2
4  5.4  3.9  1.7  0.4  Iris-setosa         1.3

In [111]:
df.describe()#-->sl and pw:149; sw and pl:147

               sl          sw          pl          pw  diff_pl_pw
count  149.000000  147.000000  147.000000  149.000000  149.000000
mean     5.848322    3.046939    3.806122    1.205369    2.569128
std      0.828594    0.434048    1.750351    0.761292    1.047707
min      4.300000    2.000000    1.000000    0.100000    0.800000
25%      5.100000    2.800000    1.600000    0.300000    1.400000
50%      5.800000    3.000000    4.400000    1.300000    2.900000
75%      6.400000    3.300000    5.100000    1.800000    3.300000
max      7.900000    4.400000    6.900000    2.500000    4.700000

In [116]:
df.dropna(inplace=True)
df.reset_index(drop=True,inplace=True)
df.head()

    sl   sw   pl   pw  flower_type  diff_pl_pw
0  4.9  3.0  1.4  0.2  Iris-setosa         1.2
1  4.7  3.2  1.3  0.2  Iris-setosa         1.1
2  5.4  3.9  1.7  0.4  Iris-setosa         1.3
3  4.6  3.4  1.4  0.3  Iris-setosa         1.1
4  5.0  3.4  1.5  0.2  Iris-setosa         1.3

### 3.2 fill na

In [117]:
df.iloc[2:4,1:3]=np.nan
df.head()

    sl   sw   pl   pw  flower_type  diff_pl_pw
0  4.9  3.0  1.4  0.2  Iris-setosa         1.2
1  4.7  3.2  1.3  0.2  Iris-setosa         1.1
2  5.4  NaN  NaN  0.4  Iris-setosa         1.3
3  4.6  NaN  NaN  0.3  Iris-setosa         1.1
4  5.0  3.4  1.5  0.2  Iris-setosa         1.3

In [119]:
df.sw.fillna(df.sw.mean(),inplace=True)
df.head()

    sl        sw   pl   pw  flower_type  diff_pl_pw
0  4.9  3.000000  1.4  0.2  Iris-setosa         1.2
1  4.7  3.200000  1.3  0.2  Iris-setosa         1.1
2  5.4  3.038621  NaN  0.4  Iris-setosa         1.3
3  4.6  3.038621  NaN  0.3  Iris-setosa         1.1
4  5.0  3.400000  1.5  0.2  Iris-setosa         1.3

In [120]:
df.pl.fillna(df.pl.mean(),inplace=True)
df.head()

    sl        sw        pl   pw  flower_type  diff_pl_pw
0  4.9  3.000000  1.400000  0.2  Iris-setosa         1.2
1  4.7  3.200000  1.300000  0.2  Iris-setosa         1.1
2  5.4  3.038621  3.837241  0.4  Iris-setosa         1.3
3  4.6  3.038621  3.837241  0.3  Iris-setosa         1.1
4  5.0  3.400000  1.500000  0.2  Iris-setosa         1.3

In [122]:
a=df[df['flower_type']=='Iris-setosa']
a.pl.mean()#-->use this to fill the NaN

1.563286867204696

## 4. Handling strings in Data

In [124]:
df['Gender']='Female'
df.iloc[1:10,6]='Male'
df.head()

    sl        sw        pl   pw  flower_type  diff_pl_pw  Gender
0  4.9  3.000000  1.400000  0.2  Iris-setosa         1.2  Female
1  4.7  3.200000  1.300000  0.2  Iris-setosa         1.1    Male
2  5.4  3.038621  3.837241  0.4  Iris-setosa         1.3    Male
3  4.6  3.038621  3.837241  0.3  Iris-setosa         1.1    Male
4  5.0  3.400000  1.500000  0.2  Iris-setosa         1.3    Male

In [126]:
def f(s):
    if s=='Male':
        return 0
    else:
        return 1
df['sex']=df.Gender.apply(f)
df.head()

    sl        sw        pl   pw  flower_type  diff_pl_pw  Gender  sex
0  4.9  3.000000  1.400000  0.2  Iris-setosa         1.2  Female    1
1  4.7  3.200000  1.300000  0.2  Iris-setosa         1.1    Male    0
2  5.4  3.038621  3.837241  0.4  Iris-setosa         1.3    Male    0
3  4.6  3.038621  3.837241  0.3  Iris-setosa         1.1    Male    0
4  5.0  3.400000  1.500000  0.2  Iris-setosa         1.3    Male    0

In [127]:
del df['Gender']
df.head()

    sl        sw        pl   pw  flower_type  diff_pl_pw  sex
0  4.9  3.000000  1.400000  0.2  Iris-setosa         1.2    1
1  4.7  3.200000  1.300000  0.2  Iris-setosa         1.1    0
2  5.4  3.038621  3.837241  0.4  Iris-setosa         1.3    0
3  4.6  3.038621  3.837241  0.3  Iris-setosa         1.1    0
4  5.0  3.400000  1.500000  0.2  Iris-setosa         1.3    0

## 5. Assignment

**5.1 Terror Attack City**

    Given file "terrorismData.csv"
    It is an open-source database including information on terrorist attacks around the world from 1970 through 2017. This dataset includes systematic data on domestic as well as international terrorist incidents that have occurred during this time period

Problem Statement :

    The Most Dangerous city in Jammu and Kashmir and the terrorist group which is most active in that city?
    Print count of number of attacks in that city as integer value.
    Note:Ignoring the Unknown Terrorist Group.Here Dangerous related with the number of terrorist attacks.
   
Output Format :

    City NumberOfAttack Group

In [221]:
import pandas as pd
data=open("terrorismData.csv")
data=pd.read_csv(data)
data=data[data["State"]=='Jammu and Kashmir']

key=data['City']
l={}
for i in key:
    if i in l:
        l[i]+=1
    else:
        l[i]=1
        
#1.find the number of attacks
maximum=0
for j in l:
    if l[j]>maximum:
        maximum=l[j] 
#print(maximum)



#2.find the city
for m in l:
    if l[m]==maximum:
        break
#print(m)



#3.find the most active group
data2=data[data['City']==m]
data2=data2[data2['Group']!='Unknown']
key=data2['Group']
k={}
for w in key:
    if w in k:
        k[w]+=1
    else:
        k[w]=1
        
maximum1=0
for h in k:
    if k[h]>maximum1:
        maximum1=k[h]
for n in k:
    if k[n]==maximum1:
        break
#print(n)

print(m,maximum,n,end=" ")

Srinagar 657 Muslim Separatists

**5.2 Terror Attack**

    Given file "terrorismData.csv"
    It is an open-source database including information on terrorist attacks around the world from 1970 through 2017. This dataset includes systematic data on domestic as well as international terrorist incidents that have occurred during this time period

Problem Statement :

    Find out the Country with Highest Number of Terror Attack and in which year the most number of terrorist attack happened in that country ?
    Print count of terror attacks as integer value.

Output Format :

    Country NumberOfAttack Year

In [224]:
import pandas as pd
import numpy as np
data=open("terrorismData.csv")
data=pd.read_csv(data)

#1.find the attack number and Country
key=data['Country']
l={}
for i in key:
    if i in l:
        l[i]+=1
    else:
        l[i]=1
maxi=0
for j in l:
    if l[j]>maxi:
        maxi=l[j]

for w in l:
    if l[w]==maxi:
        break
#print(w,maxi)

# find the year
data1=data[data['Country']==w]
key1=data1['Year']
k={}
for m in key1:
    if m in k:
        k[m]+=1
    else:
        k[m]=1
maxi2=0
for n in k:
    if k[n]>maxi2:
        maxi2=k[n]
for h in k:
    if k[h]==maxi2:
        break
print(w,maxi,h,end=" ")

Iraq 24636 2014

**5.3 Terror DeadliestAttack:**

    Given file "terrorismData.csv"
    It is an open-source database including information on terrorist attacks around the world from 1970 through 2017. This dataset includes systematic data on domestic as well as international terrorist incidents that have occurred during this time period

Problem Statement :

    Most Deadliest attack in a history of HumanKind?
    Print count of Killed people as integer value.
    Note: Here Deadliest attack means, in which the most number of people killed.

Output Format :
    
    NumberOfPeopleKilled Country TerroristGroup

In [287]:
import pandas as pd
import numpy as np
data=open("terrorismData.csv")
data=pd.read_csv(data)
data.dropna(subset = ["Killed"], inplace=True)
killed=data['Killed'].values
most=max(killed)

data2=np.array(data)
for row in data2:
    if row[10]==most:
        print(int(most),row[3],row[14],end=" ")

1570 Iraq Islamic State of Iraq and the Levant (ISIL)

**5.4 Terror Government:**

    Given file "terrorismData.csv"
    It is an open-source database including information on terrorist attacks around the world from 1970 through 2017. This dataset includes systematic data on domestic as well as international terrorist incidents that have occurred during this time period

Problem Statement :
    
    There was formation of new government in India on 26 May 2014. So current government's span is from 26th May 2014 to current. Find out two things from this period-
    1. Total number of attacks done in this period in India. Find this count as integer.
    2. Which Terrorist group was most active in this period in India. Most active means, group which has done maximum number of attacks. 
    3.Ignore the Unknown group. 

Output Format :

    TotalAttacks MostActiveTerroristGroup

In [325]:
import pandas as pd
data=open("terrorismData.csv")
data=pd.read_csv(data)
data = data[data.Country == 'India']
data = data[data.Year>=2014]
index1 = data[(data.Year == 2014) & (data.Month == 5) &(data.Day <26) ].index 
index2 = data[(data.Year == 2014) & (data.Month <5)].index
data.drop(index1,inplace = True)
data.drop(index2,inplace = True)
total_attack=data.shape[0]

data1=data[data["Group"]!='Unknown']
key=data1["Group"]
l={}
for i in key:
    if i in l:
        l[i]+=1
    else:
        l[i]=1
maxi=0
for i in l:
    if l[i]>maxi:
        maxi=l[i]
for k in l:
    if l[k]==maxi:
        break
print(total_attack,k,end=" ")

3336 Maoists

**5.5 Terror Frequency:**

    Given file "terrorismData.csv"
    It is an open-source database including information on terrorist attacks around the world from 1970 through 2017. This dataset includes systematic data on domestic as well as international terrorist incidents that have occurred during this time period

Problem Statement :

    Find the frequency of the Casualty in Red Corridor states and in Jammu and Kashmir ?Here Frequency is (Total Casualty/Total Number of a year)
    Print frequency as integer value.
    Note:Red Corridor state includes Jharkhand, Odisha, Andhra Pradesh, and Chhattisgarh. 
    Here Casualty=Killed +Wounded.Don't fill the nan value present in Killed and Wounded feature.

Output Format :

    Frequency1 Frequency2

In [314]:
import pandas as pd
data=open("terrorismData.csv")
data=pd.read_csv(data)